<div class="row product">
  <div class="row-product">
    <div class="product-img">
      <div class="product-img__item"
           [style.left]="carouselLeftPer">
        <img src="{{product?.img}}"
             alt="{{product?.name}}">
      </div>
      <div class="product-img__item"
           *ngFor="let img of product?.images"
           [style.left]="carouselLeftPer">
        <img src="{{img.imageLink}}"
             alt="{{product?.name}}">
      </div>

      <div class="move-button__left"
           (click)="leftMover()"
           *ngIf="product?.images">
        <img class="move-button__left-arrow"
             src="../../../assets/svg/arrow.svg"
             alt="Arrow left"
             width="12px" height="21px">
      </div>
      <div class="move-button__right"
           (click)="rightMover()"
           *ngIf="product?.images">
        <img class="move-button__right-arrow"
             src="../../../assets/svg/arrow.svg"
             alt="Arrow right"
             width="12px" height="21px">
      </div>
    </div>
  </div>
  <div class="row-product">
    <div class="product-card">
      <div class="card-title">
        <span class="card-title__name">{{product?.name}} {{product?.config}}</span>
        <span class="card-title__price">₽{{product?.price | priceFormatting}}</span>
      </div>
      <div class="card-buttons">
        <span class="card-buttons__count">{{ "PRODUCT.COUNT" | translate}}</span>
        <div class="counter-component">
          <button
            type="button"
            class="btn btn-counter"
            (click)="changeQuantity.emit('increase')">
            <span>+</span>
          </button>
          <span class="counter-component__count">{{ numberOfItems }}</span>
          <button
            type="button"
            class="btn btn-counter"
            (click)="changeQuantity.emit('decrease')">
            <span class="minus">-</span>
          </button>
        </div>

        <div class="card-buttons__buttons">
          <button
            type="submit"
            class="btn btn-primary big-plus center">
            <span>{{ "PRODUCT.BUTTON.ORDER-NOW" | translate}}</span>
          </button>

          <button
            type="submit"
            class="btn btn-cart"
            (click)="addToBasket()">
            <img src="../../../assets/svg/cart.svg"
                 alt="Icon basket"
                 height="22px"
                 width="21px">
          </button>
        </div>
      </div>
      <div class="card-information">
        <div class="information-card">
          <div class="row information-card__title" (click)="openInfoCard('techSpec')">
            <div class="col-11">{{ "PRODUCT.TECH-SPEC" | translate }}</div>
            <div class="col-1 information-card__title__btn" *ngIf="!openFirstCard">+</div>
            <div class="col-1 information-card__title__btn-minus" *ngIf="openFirstCard">-</div>
          </div>
          <div class="information-card__content"
               [class.active]="openFirstCard">
            <table class="table-techSpec">
              <tr *ngFor="let techSpec of product?.techSpec">
                <td class="table-techSpec__name">{{techSpec.name}}</td>
                <td class="table-techSpec__value">{{techSpec.value}}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="information-card">
          <div class="row information-card__title" (click)="openInfoCard('description')">
            <div class="col-11">{{ "PRODUCT.DESCRIPTION" | translate }}</div>
            <div class="col-1 information-card__title__btn" *ngIf="!openSecondCard">+</div>
            <div class="col-1 information-card__title__btn-minus" *ngIf="openSecondCard">-</div>
          </div>
          <div class="information-card__content"
               [class.active]="openSecondCard">
            <span class="content__description">
              {{product?.description}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
