<app-header></app-header>
<main>
  <div class="div-404">
    <img src="assets/img/apple-iphone12mini-blue-landscape.png" alt="Apple iPhone 12 mini">
    <div class="glitch-box">
      <h1 class="glitch">Oops!</h1>
    </div>
    <div class="div-404__content">

      <div class="div-404__content__text">
        <p>This is awkward...</p>
        <p>You are looking for</p>
        <p>something that</p>
        <p>doesn't actually exist.</p>
      </div>
      <button type="button" class="btn btn-primary" [routerLink]="['']">
        <span>Go back</span>
      </button>
    </div>
  </div>
</main>
<app-footer></app-footer>

