<div>
  <div class="catalog">
    <div class="item" *ngFor="let product of filteredProducts">
      <a href="#" class="item__img">
        <img src="{{product.img}}" alt="{{product.name}}">
        <span class="item__img__btn">
          <img src="assets/svg/Favorite.svg" width="20px" height="20px">
          <img src="assets/svg/cart.svg" width="20px" height="20px">
        </span>
      </a>
      <div class="item__info">
        <p class="item__info__name">{{product.name}}</p>
        <p class="item__info__price">₽{{product.price}}</p>
      </div>
    </div>
  </div>
</div>
