<nav class="row navbar">
  <ul class="navbar__nav">
    <li class="nav__item">
      <a class="nav__link" href="#" [routerLink]="['/products', 'phones']">{{ "NAVBAR.TITLE.PHONES" | translate }}</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#" [routerLink]="['/products', 'tadlets']">{{ "NAVBAR.TITLE.TABLETS" | translate }}</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">{{ "NAVBAR.TITLE.ACCESSORIES" | translate }}</a>
    </li>
  </ul>
</nav>

<nav class="row navbar-mobile" *ngIf="statusNavbar">
  <ul class="navbar-mobile__nav">
    <li class="nav-mobile__item">
      <a class="nav-mobile__link" href="#">{{ "NAVBAR.TITLE.PHONES" | translate }}</a>
      <img src="assets/svg/Arrow-right-black-24x24.svg">
    </li>
    <li class="nav-mobile__item">
      <a class="nav-mobile__link" href="#">{{ "NAVBAR.TITLE.TABLETS" | translate }}</a>
      <img src="assets/svg/Arrow-right-black-24x24.svg">
    </li>
    <li class="nav-mobile__item">
      <a class="nav-mobile__link" href="#">{{ "NAVBAR.TITLE.ACCESSORIES" | translate }}</a>
      <img src="assets/svg/Arrow-right-black-24x24.svg">
    </li>
  </ul>
</nav>
