<div class="row topbar">
  <div class="col">
    <div class="topbar__logo">
      <img class="logo" src="assets/svg/Logo.svg" width="47px" height="45px" alt="logo" [routerLink]="['/']">
      <img class="burger" src="assets/svg/Burger.svg" (click)="openNavbar()"
           *ngIf="!statusNavbar" alt="burger">
      <img class="close" src="assets/svg/Close-black.svg" (click)="openNavbar()"
           *ngIf="statusNavbar" alt="close">
    </div>
  </div>
  <div class="col topbar__brand">
    <a class="topbar__brand__item" href="#" [routerLink]="['/']">
      {{ "TOPBAR.TITLE" | translate}}
    </a>
  </div>
  <div class="col topbar__icons">
    <span (click)="openAccountMenu()">
      <img src="assets/svg/account.svg"
           width="24px" height="24px"
           alt="Account">
    </span>

    <span class="icon_cart" (click)="openBasket()">
      <img src="assets/svg/cart.svg"
           alt="Shopping cart button"
           width="24px" height="24px">
    </span>
    <div class="account-menu" *ngIf="openAccMenu" [style.right]="accountMenuRight">
      <ul>
        <li (click)="openLoginForm()">{{ "TOPBAR.MENU.SIGN-IN" | translate}}</li>
        <li (click)="openSignupForm()">{{ "TOPBAR.MENU.SIGN-UP" | translate}}</li>
      </ul>
    </div>
  </div>
</div>

