<div class="row topbar">
  <div class="col">
    <div class="topbar__logo">
      <img class="logo" src="assets/svg/Logo.svg" width="47px" height="45px" alt="logo" [routerLink]="['/']">
      <img class="burger" src="assets/svg/Burger.svg" (click)="openNavbar()"
           *ngIf="!statusNavbar" alt="burger">
      <img class="close" src="assets/svg/Close-black.svg" (click)="openNavbar()"
           *ngIf="statusNavbar" alt="close">
    </div>
  </div>
  <div class="col topbar__brand">
    <a class="topbar__brand__item" href="#" [routerLink]="['/']">
      Shop52
    </a>
  </div>
  <div class="col topbar__icons">
    <a href="#">
      <img src="assets/svg/account.svg" width="24px" height="24px">
    </a>
    <a class="icon_cart" href="#">
      <img src="assets/svg/cart.svg" width="24px" height="24px">
    </a>
  </div>
</div>

