.filter-row {
  border-bottom: 1px solid @color-light-grey;
  padding-bottom: 7px;

  &__mobile {
    display: none;
  }
}

.form-price {
  width: 223px !important;
}

.div-button {
  display: none;
  padding: 5px 5px 0 5px;

  & button:first-child {
    margin-right: 5px;
  }
}

.div-button.display-block {
  display: block;
}

.countFilteredProducts {
  position: absolute;
  right: 0;
  color: @color-black;
  font-family: @font-Open-Sans;
  font-size: 14px;
  line-height: 20px;

  &__mobile {
    color: @color-black;
    font-family: @font-Open-Sans;
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 768px) {
  .filter-row {
    display: none;

    &__mobile {
      display: flex;
    }
  }

.test {
  background-color: #00CB6F;
  width: 100vw;
  height: calc(100vh + 85px);
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}
}
