<div class="row product-carousel" *ngIf="products as products$">
  <div class="col-12 col-xl-6 product-carousel__title" translate>{{ translatedTitle }}</div>
  <div class="col-xl-6 product-carousel__arrows" *ngIf="products$.length > 4">
    <img src="assets/svg/Arrow-left-gray-24x24.svg" width="24px" height="24px"
         (click)="leftMover()">
    <img class="arrow-right active" src="assets/svg/Arrow-right-black-24x24.svg" width="24px" height="24px"
         (click)="rightMover()">
  </div>

  <div class="product-cards">
    <div class="card" *ngFor="let product of products$"
         [style.left]="carouselLeftPer">
      <a href="#" class="card__img">
        <img src="{{product.img}}" alt="{{product.name}}">
        <span class="card__img__btn">
          <img src="assets/svg/Favorite.svg" width="20px" height="20px">
          <img src="assets/svg/cart.svg" width="20px" height="20px">
        </span>
      </a>
      <div class="card__info">
        <p class="card__info__name">{{product.name}}</p>
        <p class="card__info__price">₽{{product.price}}</p>
      </div>
    </div>
  </div>

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let product of products$">
        <img src="{{product.img}}" alt="{{product.name}}">
        <div class="swiper-slide__info">
          <p class="swiper-slide__name">{{product.name}}</p>
          <p class="card__info__price">₽{{product.price}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
