<nav class="row navbar">
    <ul class="navbar__nav">
      <li class="nav__item">
        <a class="nav__link" href="#">Phones</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">Tablets</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">Accessories</a>
      </li>
    </ul>
</nav>

<nav class="row navbar-mobile" *ngIf="this.statusNavbar">
  <ul class="navbar-mobile__nav">
    <li class="nav-mobile__item">
      <a class="nav-mobile__link" href="#">Phones</a>
      <img src="assets/svg/Arrow-right-black-24x24.svg">
    </li>
    <li class="nav-mobile__item">
      <a class="nav-mobile__link" href="#">Tablets</a>
      <img src="assets/svg/Arrow-right-black-24x24.svg">
    </li>
    <li class="nav-mobile__item">
      <a class="nav-mobile__link" href="#">Accessories</a>
      <img src="assets/svg/Arrow-right-black-24x24.svg">
    </li>
  </ul>
</nav>
