.navbar {
  height: 79.64px;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
}

.navbar__nav {
  font-family: 'Open Sans', sans-serif;
  float: none;
  text-align: center;
}

.navbar__nav li {
  float: none;
  display: inline-block;
}

.nav__link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  padding: 0 33.5px 0 33.5px;
}
