<div class="fullscreen__content">
  <div class="row">
    <div class="col-12 custom-form">
      <span class="custom-form__title">{{ "SIGNUP-FORM.TITLE" | translate }}</span>
      <div class="close-btn" (click)="closeSignupForm()">
        <img class="close-btn" src="assets/svg/Close-black.svg" width="17px" height="17px" alt="Close">
      </div>
    </div>
    <div class="col-12 custom-form__inputs"
    *ngIf="!showPopup">
      <form
        novalidate
        [formGroup]="formModelSignUp"
        (ngSubmit)="onSubmitForm()">

        <div class="input-group">
          <input type="text"
                 class="input input__primary"
                 placeholder="Username*"
                 formControlName="username"
                 [class.ng-invalid]="validationError"
                 autofocus>
          <div class="error-block"
               *ngIf="_username.invalid && (_username.touched || _username.dirty)">
            <p class="error-block__err"
               *ngIf="_username.errors?.required">{{ "SIGNUP-FORM.USER.REQUIRED" | translate }}</p>
            <p class="error-block__err"
               *ngIf="_username.errors?.minlength">{{ "SIGNUP-FORM.USER.MIN-LENGTH" | translate }}</p>
          </div>
          <div class="error-block"
               *ngIf="validationError">
            <p class="error-block__err">{{validationError}}</p>
          </div>
        </div>

        <div formGroupName="passwords">
          <div class="input-group">
            <input type="password"
                   class="input input__primary"
                   placeholder="Password*"
                   formControlName="password">
                      <div class="error-block"
                           *ngIf="_password.invalid && (_password.touched || _password.dirty)">
                        <p class="error-block__err"
                           *ngIf="_password.errors?.required">{{ "SIGNUP-FORM.PASSWORD.REQUIRED" | translate }}</p>
                      </div>
          </div>

          <div class="input-group">
            <input type="password"
                   class="input input__primary"
                   placeholder="Re-enter password*"
                   formControlName="reEnterPassword">
            <div class="error-block"
                 *ngIf="_reEnterPassword.invalid && (_reEnterPassword.touched || _reEnterPassword.dirty)">
              <p class="error-block__err"
                 *ngIf="_reEnterPassword.errors?.required">{{ "SIGNUP-FORM.PASSWORD.REQUIRED" | translate }}</p>
              <p class="error-block__err"
                 *ngIf="_reEnterPassword.getError('NoPasswordMatch')">
                {{ "SIGNUP-FORM.PASSWORD.DO-NOT-MATCH" | translate }}</p>
            </div>
          </div>
        </div>

        <div class="input-group">
          <input type="email"
                 class="input input__primary"
                 placeholder="Email*"
                 formControlName="email">
          <div class="error-block"
               *ngIf="_email.invalid && (_email.touched || _email.dirty)">
            <p class="error-block__err"
               *ngIf="_email.errors?.required">{{ "SIGNUP-FORM.EMAIL.REQUIRED" | translate }}</p>
            <p class="error-block__err"
               *ngIf="isControlInvalid('email')">{{ "SIGNUP-FORM.EMAIL.INVALID" | translate }}</p>
          </div>
        </div>

        <div class="div-btn">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="formModelSignUp.invalid">
            <span>{{ "SIGNUP-FORM.BUTTON.SUBMIT" | translate }}</span>
          </button>
        </div>

        <div class="div-btn-mobile">
          <button
            type="submit"
            class="btn btn-primary big-plus center"
            [disabled]="formModelSignUp.invalid">
            <span>{{ "SIGNUP-FORM.BUTTON.SUBMIT" | translate }}</span>
          </button>
        </div>
      </form>
    </div>

    <div class="col-12 custom-form-account-created"
         *ngIf="showPopup">
      <span class="custom-form-account-created__title">Well done!</span>
      <span class="custom-form-account-created__text">The account was successfully created.</span>
      <div class="row row-btn">
        <div class="col-6 col-btn__l">
          <button
            type="button"
            class="btn btn-outline btn-for-pc"
            (click)="backHome()">
            <span>{{ "SIGNUP-FORM.BUTTON.BACK-HOME" | translate }}</span>
          </button>
        </div>
        <div class="col-6 col-btn__r">
          <button
            type="button"
            class="btn btn-primary btn-for-pc"
            (click)="signIn()">
            <span>{{ "SIGNUP-FORM.BUTTON.SIGN-IN" | translate }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
