<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel__inner">
    <div class="carousel__item active" [style.margin-left]="carouselMarginPer">
      <img src="assets/img/Block.jpg" alt="...">
      <div class="carousel__item__content">
        <p class="content__title">{{ "BANNER.TITLE-ONE" | translate }}</p>
        <p class="content__description">{{ "BANNER.DESCRIPTION-ONE" | translate }}</p>
        <button type="button" class="btn btn-primary btn-for-pc">
          <span>{{ "BANNER.BUTTON" | translate }}</span>
          <img class="trending-flat" src="assets/svg/trending-flat.svg" width="24px" height="24px">
        </button>
        <a href="#" class="link link-primary link-for-mobile">
          <span>{{ "BANNER.BUTTON" | translate }}</span>
          <img src="assets/svg/trending-flat.svg">
        </a>
      </div>
    </div>
    <div class="carousel__item">
      <img src="assets/img/Laptop-and-Phone.jpg" alt="...">
      <div class="carousel__item__content">
        <p class="content__title">{{ "BANNER.TITLE-TWO" | translate }}</p>
        <p class="content__description">{{ "BANNER.DESCRIPTION-TWO" | translate }}</p>
        <button type="button" class="btn btn-primary btn-for-pc">
          <span>{{ "BANNER.BUTTON" | translate }}</span>
          <img class="trending-flat" src="assets/svg/trending-flat.svg" width="24px" height="24px">
        </button>
        <a href="#" class="link link-primary link-for-mobile">
          <span>{{ "BANNER.BUTTON" | translate }}</span>
          <img src="assets/svg/trending-flat.svg">
        </a>
      </div>
    </div>
    <div class="carousel__item">
      <img src="assets/img/Table.jpg" alt="...">
      <div class="carousel__item__content">
        <p class="content__title">{{ "BANNER.TITLE-THREE" | translate }}</p>
        <p class="content__description">{{ "BANNER.DESCRIPTION-THREE" | translate }}</p>
        <button type="button" class="btn btn-primary btn-for-pc">
          <span>{{ "BANNER.BUTTON" | translate }}</span>
          <img class="trending-flat" src="assets/svg/trending-flat.svg" width="24px" height="24px">
        </button>
        <a href="#" class="link link-primary link-for-mobile">
          <span>{{ "BANNER.BUTTON" | translate }}</span>
          <img src="assets/svg/trending-flat.svg">
        </a>
      </div>
    </div>
  </div>
</div>
