<div class="row footer">
    <div class="content__site-content">
      <div class="contacts">
        <p class="title" translate>FOOTER.TITLE.CONTACTS</p>
        <p class="info">
          <img src="assets/svg/Phone-white.svg" alt="Phone">
          +7(952)-463-52-91</p>
        <p class="info">
          <img src="assets/svg/Email-white.svg" alt="Email">
          shop52NC@gmail.com</p>
      </div>
      <div class="products">
        <p class="title" translate>FOOTER.TITLE.PRODUCTS</p>
        <p class="info cursor-pointer"
           [routerLink]="['/products', 'phones']"
           translate>FOOTER.PRODUCTS.PHONES</p>
        <p class="info cursor-pointer"
           [routerLink]="['/products', 'tablets']"
           translate>FOOTER.PRODUCTS.TABLETS</p>
        <p class="info cursor-pointer"
           [routerLink]="['/products', 'accessories']"
           translate>FOOTER.PRODUCTS.ACCESSORIES</p>
      </div>
      <div class="information">
        <p class="title" translate>FOOTER.TITLE.INFORMATION</p>
        <p class="info" translate>FOOTER.ABOUT-US</p>
      </div>
    </div>
    <div class="social-media">
      <img src="assets/svg/Instagram-white.svg" alt="Instagram">
      <img src="assets/svg/Whatsapp-white.svg" alt="Whatsapp">
      <img src="assets/svg/Facebook-white.svg" alt="Facebook">
      <p class="copyright" translate>FOOTER.COPYRIGHT</p>
    </div>
</div>
