<div class="row footer">
    <div class="content__site-content">
      <div class="contacts">
        <p class="title">Contacts</p>
        <p class="info">
          <img src="assets/svg/Phone-white.svg" alt="Phone">
          +7(952)-463-52-91</p>
        <p class="info">
          <img src="assets/svg/Email-white.svg" alt="Email">
          shop52NC@gmail.com</p>
      </div>
      <div class="products">
        <p class="title">Products</p>
        <p class="info">Phones</p>
        <p class="info">Tablets</p>
        <p class="info">Accessories</p>
      </div>
      <div class="information">
        <p class="title">Information</p>
        <p class="info">About us</p>
      </div>
    </div>
    <div class="social-media">
      <img src="assets/svg/Instagram-white.svg" alt="Instagram">
      <img src="assets/svg/Whatsapp-white.svg" alt="Whatsapp">
      <img src="assets/svg/Facebook-white.svg" alt="Facebook">
      <p class="copyright">© Copyright,  2021</p>
    </div>
</div>
